django
channels
django-cors-headers
djangorestframework
asgiref
daphne
bcrypt
cryptography
pyopenssl
beautifulsoup4
pillow
pytesseract
requests
urllib3
autobahn
twisted
appdirs
attrs
certifi
cffi
charset-normalizer
idna
packaging
pycparser
six
sqlparse
tzdata
